        /* Importing Fonts */
        @import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=DM+Serif+Text:ital@0;1&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

        /* Color Variables */
        :root {
            --white: #fff;
            --black: #000;
            /* --nav-blue: #023047; */
            --nav-blue: #001d3d;
            --ice-blue: #e5e5e5;
            --blue: #00b4d8;
            --yellow: #ffd60a;
            --gray: #bcb8b1;
            /* --modern-gray: #333533; */
            --modern-gray: rgb(6, 6, 41);
            --orange: #fe7f2d;
            --aqua: #41ead4;
            --light-green: #5be584;
            --green: #007b55;
            /* --red: #ef233c; */
            --shadow: 10px 10px 20px #cecece;
            --text-color: var(--black);
            --bg-color: var(--white);
            --navbar-bg: var(--white);
            --banner-bg: var(--ice-blue);
            --bold-red: var(--blue);
            --box-shadow: var(--shadow);
            --title-color: var(--black);
            --banner-text: var(--white);
            --banner-img: var(--ice-blue);
            --nav-link: var(--white);
            --nav-link-scroll: var(--black);
            --button-bg: var(--yellow);
            --button-color: var(--white);
        }

        /* Dark Mode Variables */
        body.dark-mode {
            --text-color: var(--white);
            --bg-color: var(--modern-gray);
            --navbar-bg: var(--nav-blue);
            --banner-bg: var(--black);
            --bold-red: var(--yellow);
            --title-color: var(--black);
            --box-shadow: 5px 5px 10px #1b1b1b;
            --banner-text: var(--white);
            --banner-img: var(--ice-blue);
            --nav-link: var(--white);
            --nav-link-scroll: var(--white);
            --button-bg: var(--yellow);
            --button-color: var(--black);
        }

        body {
            background-color: var(--bg-color);
            color: var(--text-color);
            transition: background-color 0.3s ease, color 0.3s ease;
            overflow-x: hidden;
        }

        .toggle-dark-mode {
            background-color: transparent;
            border: none;
            cursor: pointer;
            font-size: 24px;
            color: white;
            padding-left: 15px;
        }

        /* Navbar */
        .navbar-nav {
            display: flex;
            justify-content: center;
            width: 100%;
            gap: 20px;
        }

        .navbar {
            /* background-color: var(--navbar-bg); */
            background-color: transparent;
        }

        .nav-link {
            color: var(--nav-link);
            font-size: 17px;
            font-family: "Poppins", sans-serif;
            font-weight: 400;
            font-style: normal;
            transition: 0.5s;
        }

        .nav-link:hover {
            color: var(--nav-link);
        }

        .nav-link:focus {
            color: var(--nav-link);
        }

        .nav-item::after {
            content: "";
            width: 0;
            height: 3px;
            background-color: var(--blue);
            margin: auto;
            display: block;
        }

        .nav-item:hover::after {
            width: 100%;
            transition: width 0.3s linear;
        }

        .navbar-brand {
            padding-left: 150px;
            color: var(--nav-link);
            font-size: 35px;
            font-family: "Poppins", sans-serif;
            font-weight: 300;
            font-style: normal;
        }

        .navbar-brand:hover {
            color: var(--nav-link);
        }

        .navbar-brand span {
            color: var(--blue);
            font-size: 40px;
            font-family: "Poppins", sans-serif;
            font-weight: 500;
            font-style: normal;
        }

        .nav-item .nav-link.active::after {
            width: 100%;
            transition: width 0.3s linear;
        }

        .navbar-toggler {
            color: var(--nav-link);
        }

        /* Navbar */

        /* Banner*/
        .banner {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            /* background-color: var(--banner-bg); */
            background: url(../images/web-ban-new.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            overflow: hidden;
            height: 700px;
            /* padding-bottom: 100px; */
        }

        .banner .content {
            padding-top: 210px;
            padding-left: 150px;
            color: var(--banner-text);
        }

        .banner .content h5 {
            color: var(--bold-red);
            font-family: "Poppins", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 19px;
            padding-bottom: 0;
            padding-left: 10px;
            /* text-shadow: 0px 1px 1px rgb(121, 121, 121); */
        }

        .type-container {
            width: 210px;
            background-color: var(--ice-blue);
            height: 40px;
            padding: 5px;
            text-align: center;
            margin-bottom: 10px;
        }

        .type-container span {
            font-size: 20px;
            font-weight: 500;
            color: var(--title-color);
        }

        .banner .content h2 {
            font-size: 60px;
            padding-top: 0;
            letter-spacing: 1px;
            font-family: "Lato", sans-serif;
            font-weight: 400;
            font-style: normal;
            padding-bottom: 10px;
        }

        .banner .img {
            position: relative;
            background-color: var(--banner-img);
            width: 350px;
            height: 350px;
            margin-top: 150px;
            margin-right: 250px;
            /* display: flex;
            justify-content: center; */
            border-radius: 20px;
            /* box-shadow: 10px 10px 20px rgba(236, 172, 9, 0.4); */
            /* box-shadow: var(--box-shadow); */
            z-index: 1;
            overflow: hidden;
        }

        .banner .content a button {
            position: relative;
            margin-top: 20px;
            width: 150px;
            height: 40px;
            border: none;
            border-radius: 10px;
            background-color: var(--bold-red);
            color: var(--button-color);
            /* box-shadow: 10px 10px 20px #c5c5c5; */
            /* box-shadow: var(--box-shadow); */
            transition: 0.5s;
        }

        .banner .content a button:hover {
            box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
            width: 170px;
        }

        .banner .round {
            width: 150px;
            height: 150px;
            /* height: 200px; */
            position: relative;
            z-index: 10;
            top: 430px;
            left: 130px;
            animation: rotate linear infinite 10s;
        }

        @keyframes rotate {
            from {
                transform: rotate(0deg);
            }

            to {
                transform: rotate(360deg);
            }
        }

        /* Banner*/

        /* Making Navbar and banner responsive */
        @media (max-width: 1024px) {
            .navbar-brand {
                padding-left: 30px;
            }

            .banner {
                height: 600px;
            }

            .banner .content {
                padding-left: 30px;
            }

            .banner .img {
                margin-top: 170px;
                margin-right: 80px;
            }

            .nav-item {
                padding-left: 30px;
            }

            .navbar-nav {
                gap: 0;
            }

            .banner .round {
                display: none;
            }
        }

        @media (max-width: 800px) {
            .banner {
                height: 950px;
                background-position: center;
            }

            .banner .img {
                margin: auto;
                margin-top: 30px;
            }

            .banner .round {
                display: none;
            }
        }

        /* Making Navbar and banner responsive */

        /* about */
        .about {
            margin-top: 100px;
        }

        .about h2 {
            position: relative;
            z-index: 1;
            color: var(--text-color);
            text-align: center;
            /* top: -75px; */
            font-size: 25px;
            font-family: "Poppins", sans-serif;
            font-weight: 600;
            font-style: normal;
            padding-top: 50px;
        }

        .about h2::before {
            content: "ABOUT ME";
            color: rgba(135, 135, 135, 0.2);
            top: 95%;
            left: 50%;
            translate: -50% -50%;
            position: absolute;
            z-index: -1;
            font-size: 85px;
            font-family: "Poppins", sans-serif;
            font-weight: 600;
            font-style: normal;
        }

        .parent {
            position: relative;
            display: flex;
            justify-content: center;
            margin: auto;
            width: 140px;
            background-color: #afafaf;
            height: 3px;
            margin-bottom: 80px;
        }

        .child {
            background-color: var(--bold-red);
            width: 70px;
            border: 3px var(--bold-green);
        }

        .about-card {
            display: flex;
            justify-content: space-between;
            /* border: 1px solid red; */
            overflow: hidden;
            padding: 20px;
            margin-top: 50px;
            flex-wrap: wrap;
        }

        .about-card .img {
            display: flex;
            /* justify-content: center; */
            /* background-color: var(--banner-img); */
            background: url(../images/full-pic.jpeg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            width: 400px;
            height: 530px;
            margin-left: 150px;
            border-radius: 15px;
            overflow: hidden;
        }

        .about-content {
            width: 650px;
            margin-right: 130px;
        }

        .about-content h1 {
            font-family: "Poppins", sans-serif;
            font-weight: 300;
            font-style: normal;
            padding-bottom: 10px;
        }

        .about-content h3 {
            font-family: "Poppins", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 20px;
            color: var(--bold-red);
            padding-bottom: 5px;
        }

        .about-content .para {
            font-family: "Poppins", sans-serif;
            font-weight: 300;
            font-style: normal;
            letter-spacing: 1px;
            padding-bottom: 1px;
        }

        .about-content h4 {
            display: flex;
            align-items: center;
            font-family: "Poppins", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 10px;
            padding-bottom: 5px;
        }

        .about-content h4 .h4-head {
            width: 100px;
            height: 40px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            text-align: left;
        }

        .about-content h4 span {
            font-family: "Poppins", sans-serif;
            font-weight: 400;
            font-style: normal;
            /* padding-left: 20px; */
            font-size: 16px;
            /* text-align: left; */
        }

        .about-content a button {
            text-decoration: none;
            width: 130px;
            height: 40px;
            border-radius: 10px;
            background-color: var(--bold-red);
            color: var(--button-color);
            border: none;
            box-shadow: var(--box-shadow);
            transition: 0.5s;
        }

        .about-content a button:hover {
            box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
            width: 150px;
        }
        
        @media (max-width:800px) {
            .about h2:before {
                display: none;
            }

            .about-card {
                flex-wrap: wrap;
            }
            
            .about-card .img {
                margin: auto;
            }
        }
        
        /* about */
        
        /* service */
        .service {
            margin-top: 100px;
        }
        
        .service h2 {
            position: relative;
            z-index: 1;
            color: var(--text-color);
            text-align: center;
            /* top: -75px; */
            font-size: 25px;
            font-family: "Poppins", sans-serif;
            font-weight: 600;
            font-style: normal;
            padding-top: 50px;
        }

        .service h2::before {
            content: "SERVICES";
            color: rgba(135, 135, 135, 0.2);
            top: 95%;
            left: 50%;
            translate: -50% -50%;
            position: absolute;
            z-index: -1;
            font-size: 85px;
            font-family: "Poppins", sans-serif;
            font-weight: 600;
            font-style: normal;
        }
        
        .parent {
            position: relative;
            display: flex;
            justify-content: center;
            margin: auto;
            width: 140px;
            background-color: #afafaf;
            height: 3px;
            margin-bottom: 80px;
        }
        
        .child {
            background-color: var(--bold-red);
            width: 70px;
            border: 3px var(--bold-green);
        }
        
        .main {
            display: flex;
            justify-content: center;
            gap: 30px;
            flex-wrap: wrap;
        }
        
        .box1,
        .box2,
        .box3 {
            box-shadow: var(--box-shadow);
            padding: 20px;
            border-radius: 15px;
            box-sizing: border-box;
            transition: transform 0.5s;
            width: 350px;
            height: 280px;
            text-align: center;
            /* border-bottom:3px solid #33CC00; */
            border-bottom: 3px solid var(--bold-red);
            transition: 0.5s;
        }
        
        .ico {
            border-radius: 50%;
            border: 2px solid var(--text-color);
            width: 60px;
            height: 60px;
            margin: auto;
            display: flex;
            justify-content: center;
            padding: 20px;
            margin-bottom: 0;
            transition: 0.5;
            font-size: 20px;
        }
        
        .ico:hover {
            border: 2px solid var(--bold-red);
            color: var(--bold-red);
            cursor: pointer;
        }
        
        .box1 h2::before,
        .box2 h2::before,
        .box3 h2::before {
            display: none;
        }
        
        .box1:hover,
        .box2:hover,
        .box3:hover {
            transform: translateY(-5px);
            box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
        }
        
        @media (max-width:800px) {
            .main {
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            
            .box1,
            .box2,
            .box3 {
                width: calc(100% - 40px);
                margin-bottom: 20px;
                margin-top: 0;
                height: auto;
            }
        }
        
        /* service */
        
        /* skill */
        .skills-section {
            width: 100%;
            max-width: 800px;
            text-align: center;
            background: transparent;
            padding: 40px;
            border-radius: 10px;
            margin: auto;
          }
          
          .skills-section h2{
            position: relative;
            z-index: 1;
            color: var(--text-color);
            text-align: center;
            /* top: -75px; */
            font-size: 25px;
            font-family: "Poppins", sans-serif;
            font-weight: 600;
            font-style: normal;
            padding-top: 50px;
          }
          .skills-section h2::before {
            content: "SKILLS";
            color: rgba(135, 135, 135, 0.2);
            top: 95%;
            left: 50%;
            translate: -50% -50%;
            position: absolute;
            z-index: -1;
            font-size: 85px;
            font-family: "Poppins", sans-serif;
            font-weight: 600;
            font-style: normal;
          }
          
          .skills-container {
            display: flex;
            flex-direction: column;
            gap: 20px;
          }
          
          .skill {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 10px;
          }
          
          .skill h3 {
            flex: 1;
            font-size: 18px;
            color: var(--text-color);
          }
          
          .skill-bar {
            flex: 4;
            height: 10px;
            background: #eee;
            border-radius: 5px;
            overflow: hidden;
            position: relative;
          }
          
          .progress {
            height: 100%;
            background: var(--bold-red);
            border-radius: 5px;
            transition: width 0.5s ease;
          }
          
          .skill span {
            flex: 0.5;
            font-size: 14px;
            color: var(--bold-red);
          }
          
          @media (max-width: 600px) {
            .skill h3, .skill span {
              font-size: 12px;
            }
          
            .progress {
              height: 8px;
            }
          }
        /* skill */
        
        /* project */
        .project span {
            display: flex;
            justify-content: center;
            padding-bottom: 0;
            font-size: 19px;
            font-weight: 500;
            color: var(--bold-red);
            padding-top: 50px;
        }
        
        .project h2 {
            position: relative;
            z-index: 1;
            color: var(--text-color);
            text-align: center;
            /* top: -75px; */
            font-size: 25px;
            font-family: "Poppins", sans-serif;
            font-weight: 600;
            font-style: normal;
        }
        
        .project h2::before {
            content: "PORTFOLIO";
            color: rgba(135, 135, 135, 0.2);
            /* top: 95%; */
            left: 50%;
            translate: -50% -50%;
            position: absolute;
            z-index: -1;
            font-size: 85px;
            font-family: "Poppins", sans-serif;
            font-weight: 600;
            font-style: normal;
        }
        
        .port {
            display: flex;
            justify-content: center;
            gap: 30px;
            flex-wrap: wrap;
        }
        
        .portfolio1,
        .portfolio2,
        .portfolio3,
        .portfolio4 {
            box-shadow: var(--box-shadow);
            box-sizing: border-box;
            transition: transform 0.5s;
            width: 500px;
            height: 280px;
            text-align: center;
            border-radius: 5px;
            overflow: hidden;
            background-color: transparent;
            position: relative;
            transition: 0.5s;
        }
        
        .portfolio1 img,
        .portfolio2 img,
        .portfolio3 img,
        .portfolio4 img {
            position: relative;
            width: 100%;
            height: 280px;
            display: block;
            background-position: center;
            transition: 0.5s;
        }
        
        /* Gradient on hover */
        .portfolio1::before,
        .portfolio2::before,
        .portfolio3::before,
        .portfolio4::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(rgb(0, 0, 0, 0), rgb(0, 0, 0, 0));
            /* Default: No gradient */
            transition: background 0.5s ease;
            /* Smooth transition */
            z-index: 1;
        }
        
        /* Hover state for gradient */
        .portfolio1:hover::before,
        .portfolio2:hover::before,
        .portfolio3:hover::before,
        .portfolio4:hover::before {
            cursor: pointer;
            background: linear-gradient(rgb(0, 0, 0, 0.4), rgb(0, 0, 0, 0.4));
            /* Gradient on hover */
        }
        
        /* Button styling */
        .portfolio a button {
            width: 130px;
            height: 40px;
            background-color: var(--bold-red);
            color: var(--button-color);
            border-radius: 10px;
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translate(-50%);
            transition: top 0.5s ease;
            box-shadow: none;
            z-index: 2;
        }
        
        .portfolio a button:hover {
            box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
        }
        
        /* When portfolio is hovered, button moves up */
        .portfolio:hover a button {
            top: 50%;
        }
        
        @media (max-width:800px) {
            .port {
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            
            .portfolio1,
            .portfolio2,
            .portfolio3,
            .portfolio4 {
                width: calc(100% - 40px);
                margin-bottom: 20px;
                margin-top: 0;
                /* height: auto; */
            }
            
        }
        /* project */
        
        
        /* blog */
        .blog h2 {
            position: relative;
            z-index: 1;
            color: var(--text-color);
            text-align: center;
            /* top: -75px; */
            font-size: 25px;
            font-family: "Poppins", sans-serif;
            font-weight: 600;
            font-style: normal;
            padding-top: 50px;
        }
        
        .blog h2::before {
            content: "BLOGS";
            color: rgba(135, 135, 135, 0.2);
            top: 95%;
            left: 50%;
            translate: -50% -50%;
            position: absolute;
            z-index: -1;
            font-size: 85px;
            font-family: "Poppins", sans-serif;
            font-weight: 600;
            font-style: normal;
        }
        
        .parent {
            position: relative;
            display: flex;
            justify-content: center;
            margin: auto;
            width: 140px;
            background-color: #afafaf;
            height: 3px;
            margin-bottom: 80px;
        }
        
        .child {
            background-color: var(--bold-red);
            width: 70px;
            border: 3px var(--bold-green);
        }
        .bloging{
            display: flex;
            justify-content: center;
            gap: 30px;
        }
        .b-card{
            color: var(--text-color);
            background-color: transparent;
            box-sizing: border-box;
            transition: 0.5s;
            width: 340px;
            height: 380px;
            border-radius: 5px;
            box-shadow: var(--box-shadow);
        }
        .b-card img{
            position: relative;
            z-index: 1;
            width: 100%;
            height: 200px;
            border-radius: 5px;
        }
        .b-card h5{
            padding-top: 10px;
            text-align: center;
        }
        .b-card h5{
            font-family: "Poppins", sans-serif;
            font-weight: 300;
            font-style: normal;
        }
        .b-card p{
            text-align: center;
            transition: 0.5s;
        }
        .b-card p:hover{
            color: var(--bold-red);
        }
            .b-card:hover{
                transform: translateY(-5px);
                cursor: pointer;
            }
            @media (max-width:800px) {
                .bloging{
                    flex-direction: column;
                    align-items: center;
                justify-content: center;
            }
            .b-card{
                width: calc(100% - 40px);
                margin-bottom: 20px;
                margin-top: 0;
                height: auto;
            }
        }
        /* blog */
        
        /* contact us */

        .contact-card {
                    display: flex;
                    flex-wrap: wrap;
                    max-width: 800px;
                    background: transparent;
                    border-radius: 10px;
                    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
                    overflow: hidden;
                    margin: auto;
                    margin-top: 80px;
                    margin-bottom: 80px;
                }
                
                  .contact-left {
                      background: var(--bold-red);
                      color: white;
                      padding: 20px;
                      flex: 1 1 300px;
                      text-align: left;
                    }
                    
                    .contact-left h2 {
                        text-align: left;
                        font-family: "Poppins", sans-serif;
                        font-weight: 600;
                        font-size: 50px;
                        font-style: normal;
                        margin-bottom: 10px;
                        color: var(--button-color);
                        padding: 0;
                    }
                    .contact-left h2::before {
                        display: none;
                    }
                    
                    .contact-left p {
                        margin-bottom: 20px;
                        color: var(--button-color);
                        font-family: "Poppins", sans-serif;
                        font-weight: 300;
                        font-size: 18px;
                        font-style: normal;
                    }
                    .contact-left .icons{
                        color: var(--button-color);
                        font-family: "Poppins", sans-serif;
                        font-weight: 300;
                        font-size: 18px;
                        font-style: normal;
                }
                .contact-left .icons i {
                    margin-right: 10px;
                    margin-bottom: 10px;
                    display: inline-block;
                    color: var(--button-color);
                  }
                  
                  .contact-right {
                    flex: 1 1 300px;
                    padding: 20px;
                    /* background: rgba(255, 255, 255, 0.8); */
                    background: transparent;
                }
                
                .contact-right form {
                    display: flex;
                    flex-direction: column;
                    background: transparent;
                }
                
                .contact-right input,
                .contact-right textarea {
                    margin-bottom: 15px;
                    padding: 10px;
                    border: 1px solid #ccc;
                    /* border-radius: 5px; */
                    background: transparent;
                    outline: none;
                    font-size: 16px;
                    color: var(--text-color);
                  }
                  
                  .contact-right button {
                    padding: 10px;
                    background: var(--bold-red);
                    color: var(--button-color);
                    border: none;
                    border-radius: 5px;
                    font-size: 16px;
                    cursor: pointer;
                    transition:0.5s;
                  }
                  
                  .contact-right button:hover {
                    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
                  }
                  
                  @media (max-width: 600px) {
                    .contact-card {
                      flex-direction: column;
                    }
                  
                    .contact-left, .contact-right {
                      flex: 1 1 100%;
                    }
                  }
            /* contact us */